# PANDAS (part 1)

 You will learn the basics of data analysis and get familiar with the Pandas library, which is widely used 
for data manipulation and analysis in Python.

### Objectives 

-Reading and writing data: Learn how to read data from various file formats (e.g., CSV, Excel) using Pandas and write data 
to files.

-Data cleaning: Explore techniques
to handle missing values, handle duplicates, and perform data type conversions.

-Data exploration: Use Pandas functions to gain insights into the data, such as descriptive statistics, value counts, and 
 data profiling.


### Project 1: Data Cleaning and Exploration 
 Instructions: Choose a dataset of your choice (e.g., CSV file) and perform data cleaning tasks such as handling missing 
values, removing duplicates, and transforming data types. Explore the dataset using Pandas functions to gain insights.

## 1.  Reading and Importing data using Pandas

### 1.1 Reading files

Pandas provides various functions and methods to read data from different file formats. Here's the necessary information for reading different formats with Pandas:

- CSV (Comma-Separated Values):

read_csv(): This function reads data from a CSV file into a DataFrame. It supports various parameters to handle different file configurations such as delimiter, header row, column names, and more.

- Excel:

read_excel(): This function reads data from an Excel file into a DataFrame. It supports parameters to specify sheet names or sheet indices, skiprows, column names, and more.

- JSON (JavaScript Object Notation):

read_json(): This function reads data from a JSON file into a DataFrame. It supports parameters to handle different JSON file structures, such as orient, lines, and more.

- SQL (Structured Query Language) Database:

read_sql(): This function reads data from a SQL database query result directly into a DataFrame. It requires a database connection and accepts parameters such as SQL query, connection object, and more.

- Other File Formats:

Pandas also supports reading data from other formats such as Excel files with multiple sheets, HTML tables, SAS files, Stata files, and more. For each specific format, Pandas provides dedicated functions or methods. You can refer to the Pandas documentation for the complete list of supported file formats and the corresponding functions.

In [5]:
# Example

import pandas as pd

"""
# Read data from a CSV file
df_csv = pd.read_csv('data.csv')

# Read data from an Excel file
df_excel = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# Read data from a JSON file
df_json = pd.read_json('data.json')

# Read data from a SQL database
import sqlite3
conn = sqlite3.connect('database.db')
query = 'SELECT * FROM table_name'
df_sql = pd.read_sql(query, conn)
conn.close()
"""

"\n# Read data from a CSV file\ndf_csv = pd.read_csv('data.csv')\n\n# Read data from an Excel file\ndf_excel = pd.read_excel('data.xlsx', sheet_name='Sheet1')\n\n# Read data from a JSON file\ndf_json = pd.read_json('data.json')\n\n# Read data from a SQL database\nimport sqlite3\nconn = sqlite3.connect('database.db')\nquery = 'SELECT * FROM table_name'\ndf_sql = pd.read_sql(query, conn)\nconn.close()\n\n"

### 1.2 Importing

 Here's the necessary information for importing different formats with Pandas:

- CSV (Comma-Separated Values):

pd.DataFrame(): You can create a DataFrame directly from CSV data by passing the CSV data as a list of lists or a dictionary.

- Excel:

pd.read_excel(): This function reads data from an Excel file into a DataFrame. It supports parameters to specify sheet names or sheet indices, skiprows, column names, and more.

- JSON (JavaScript Object Notation):

pd.read_json(): This function reads data from a JSON file into a DataFrame. It supports parameters to handle different JSON file structures, such as orient, lines, and more.

- SQL (Structured Query Language) Database:

pd.read_sql_query(): This function reads data from a SQL database query result directly into a DataFrame. It requires a database connection and accepts parameters such as SQL query and connection object.
Other File Formats:

- Pandas supports importing data from various other formats such as Excel files with multiple sheets, HTML tables, SAS files, Stata files, and more. For each specific format, Pandas provides dedicated functions or methods. You can refer to the Pandas documentation for the complete list of supported file formats and the corresponding functions.

In [7]:
#Example

import pandas as pd

"""
# Import data from a CSV file
df_csv = pd.DataFrame([
    ['John', 28, 'New York'],
    ['Emma', 35, 'Chicago'],
    ['Oliver', 42, 'Seattle']
], columns=['Name', 'Age', 'City'])

# Import data from an Excel file
df_excel = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# Import data from a JSON file
df_json = pd.read_json('data.json')

# Import data from a SQL database
import sqlite3
conn = sqlite3.connect('database.db')
query = 'SELECT * FROM table_name'
df_sql = pd.read_sql_query(query, conn)
conn.close()
"""

"\n# Import data from a CSV file\ndf_csv = pd.DataFrame([\n    ['John', 28, 'New York'],\n    ['Emma', 35, 'Chicago'],\n    ['Oliver', 42, 'Seattle']\n], columns=['Name', 'Age', 'City'])\n\n# Import data from an Excel file\ndf_excel = pd.read_excel('data.xlsx', sheet_name='Sheet1')\n\n# Import data from a JSON file\ndf_json = pd.read_json('data.json')\n\n# Import data from a SQL database\nimport sqlite3\nconn = sqlite3.connect('database.db')\nquery = 'SELECT * FROM table_name'\ndf_sql = pd.read_sql_query(query, conn)\nconn.close()\n"

### Examples

In [12]:
"""
dtypes = {'POP': 'float32', 'AREA': 'float32', 'GDP': 'float32'}
df = pd.read_csv('data.csv', index_col=0, dtype=dtypes, parse_dates=['IND_DAY'])
"""

# Saving in a specific format 
"""
df = pd.read_csv('data.csv', index_col=0, parse_dates=['IND_DAY'])
df.to_csv('formatted-data.csv', date_format='%B %d, %Y')
s = df.to_csv(sep=';', header=False) # the data is separated by ";" and the saved file will not have headers 
"""

'\ndf = pd.read_csv(\'data.csv\', index_col=0, parse_dates=[\'IND_DAY\'])\ndf.to_csv(\'formatted-data.csv\', date_format=\'%B %d, %Y\')\ns = df.to_csv(sep=\';\', header=False) # the data is separated by ";" and the saved file will not have headers \n'

### 1.4 Other object creation options

In [8]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:
"""
s = pd.Series([1, 3, 5, np.nan, 6, 8]) 
"""

# Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:
"""
dates = pd.date_range("20130101", periods=6)
----
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
----
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
"""

# Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:
"""
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
) 
"""

# The columns of the resulting DataFrame have different dtypes:
"""
df2.dtypes 
"""

'\ndf2.dtypes \n'

In [9]:
# List of attributes: 

""""
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.columns
df2.align              df2.copy
df2.all                df2.count
df2.any                df2.combine
df2.append             df2.D
df2.apply              df2.describe
df2.applymap           df2.diff
df2.B                  df2.duplicated
""""

SyntaxError: EOL while scanning string literal (1338891434.py, line 16)

## 2. Data cleaning

### 2.1  Handling missing values

- Pandas uses np.nan to represent missing data. It is not included in calculations.

In [10]:
# - Reindexing allows to change/add/delete the index of a specified axis. It returns a copy of the data. 
"""
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
"""

# DataFrame.dropna() drops any rows that have missing data:
"""
df1.dropna(how="any") 
"""

# DataFrame.fillna() fills missing data:
"""
df1.fillna(value=5) 
"""

# isna() gets the boolean mask where values are nan:
"""
pd.isna(df1) 
"""

'\npd.isna(df1) \n'

In [11]:
#Example 

import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
data = {'Name': ['John', 'Emma', np.nan, 'Oliver'],
        'Age': [28, np.nan, 42, np.nan],
        'City': ['New York', 'Chicago', np.nan, 'Seattle']}
df = pd.DataFrame(data)

# Detect missing values
missing_values = df.isnull()
print("Missing Values:")
print(missing_values)

# Drop rows with any missing values
df_dropped = df.dropna()
print("DataFrame after Dropping Missing Values:")
print(df_dropped)

# Fill missing values with a specified value
df_filled = df.fillna(value='Unknown')
print("DataFrame after Filling Missing Values:")
print(df_filled)

Missing Values:
    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False   True
3  False   True  False
DataFrame after Dropping Missing Values:
   Name   Age      City
0  John  28.0  New York
DataFrame after Filling Missing Values:
      Name      Age      City
0     John     28.0  New York
1     Emma  Unknown   Chicago
2  Unknown     42.0   Unknown
3   Oliver  Unknown   Seattle

### 2.2 Handling duplicate values

Here's an overview of the essential information you need to handle duplicate values in Pandas:

1. Detecting Duplicate Values:

- duplicated(): This function identifies duplicate rows in a DataFrame and returns a Boolean series indicating which rows are duplicates.
- drop_duplicates(): This method removes duplicate rows from a DataFrame and returns a new DataFrame without duplicates.

2. Handling Duplicate Values:

- keep parameter: Both duplicated() and drop_duplicates() accept a keep parameter that determines which duplicates to keep or remove.
- keep='first' (default): Keeps the first occurrence of each duplicated row and removes the subsequent duplicates.
-keep='last': Keeps the last occurrence of each duplicated row and removes the previous duplicates.
- keep=False: Removes all occurrences of duplicated rows.

In [12]:
import pandas as pd

# Create a sample DataFrame with duplicate values
data = {'Name': ['John', 'Emma', 'John', 'Oliver', 'Emma'],
        'Age': [28, 35, 28, 42, 35],
        'City': ['New York', 'Chicago', 'New York', 'Seattle', 'Chicago']}
df = pd.DataFrame(data)

# Detect duplicate rows
duplicates = df.duplicated()
print("Duplicate Rows:")
print(df[duplicates])

# Drop duplicate rows and keep the first occurrence
df_unique = df.drop_duplicates(keep='first')
print("DataFrame without Duplicates:")
print(df_unique)

Duplicate Rows:
   Name  Age      City
2  John   28  New York
4  Emma   35   Chicago
DataFrame without Duplicates:
     Name  Age      City
0    John   28  New York
1    Emma   35   Chicago
3  Oliver   42   Seattle

### 2.3 Performing data type conversions

 Here's the necessary information for performing data type conversions in Pandas:

1. Conversion to Numeric Types:

pd.to_numeric(): This function converts a column to a numeric type. It can handle different data types and options for handling errors and converting non-numeric values.

2. Conversion to DateTime Types:

pd.to_datetime(): This function converts a column to a DateTime type. It can handle various date and time formats and options for handling errors and parsing specific components.

3. Conversion to Categorical Types:

astype(): The astype() method can be used to convert a column to a Categorical type, which is useful for working with categorical or nominal data. Specify the data type as 'category'.

4. Conversion to String Types:

astype(): The astype() method can be used to convert a column to a string type, which is useful for performing string operations. Specify the data type as 'string'.

5. Conversion to Boolean Types:

astype(): The astype() method can be used to convert a column to a boolean type, which is useful for working with logical values. Specify the data type as 'bool'.

6. Conversion to Other Numeric Types:

astype(): The astype() method can be used to convert a column to other numeric types, such as int, float, int64, etc. Specify the desired data type accordingly.

7. Conversion to Categorical Ordinal Types:

pd.Categorical(): This function can be used to convert a column to a Categorical type with an order or specified categories. It is useful for working with ordinal data. Specify the data type as 'category' and provide the categories parameter.

8. Conversion to Timedelta Types:

pd.to_timedelta(): This function converts a column to a Timedelta type, which represents a duration or difference between two dates or times. It can handle different time units and options for error handling.

In [13]:
"""

import pandas as pd

# Convert a column to numeric type
df['Column'] = pd.to_numeric(df['Column'], errors='coerce')

# Convert a column to DateTime type
df['Column'] = pd.to_datetime(df['Column'], format='%Y-%m-%d')

# Convert a column to Categorical type
df['Column'] = df['Column'].astype('category')

# Convert a column to string type
df['Column'] = df['Column'].astype('string')

# Convert a column to boolean type
df['Column'] = df['Column'].astype('bool')

# Convert a column to other numeric types
df['Column'] = df['Column'].astype(int)

# Convert a column to Categorical ordinal type
df['Column'] = pd.Categorical(df['Column'], categories=['Low', 'Medium', 'High'], ordered=True)

# Convert a column to Timedelta type
df['Column'] = pd.to_timedelta(df['Column'], unit='days')

"""

"\n\nimport pandas as pd\n\n# Convert a column to numeric type\ndf['Column'] = pd.to_numeric(df['Column'], errors='coerce')\n\n# Convert a column to DateTime type\ndf['Column'] = pd.to_datetime(df['Column'], format='%Y-%m-%d')\n\n# Convert a column to Categorical type\ndf['Column'] = df['Column'].astype('category')\n\n# Convert a column to string type\ndf['Column'] = df['Column'].astype('string')\n\n# Convert a column to boolean type\ndf['Column'] = df['Column'].astype('bool')\n\n# Convert a column to other numeric types\ndf['Column'] = df['Column'].astype(int)\n\n# Convert a column to Categorical ordinal type\ndf['Column'] = pd.Categorical(df['Column'], categories=['Low', 'Medium', 'High'], ordered=True)\n\n# Convert a column to Timedelta type\ndf['Column'] = pd.to_timedelta(df['Column'], unit='days')\n\n"

## 3. Data exploration

### 3.1 Descriptive statistics

Here are some of the basic functions for descriptive statistics: 

- describe(): This function computes various descriptive statistics of each numerical column in a DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values. By default, it provides statistics for numeric columns only.
- mean(): This function calculates the mean of each numerical column in a DataFrame.
- median(): This function calculates the median (50th percentile) of each numerical column.
- std(): This function calculates the standard deviation of each numerical column.
- min(): This function returns the minimum value of each numerical column.
- max(): This function returns the maximum value of each numerical column.

In [16]:
# Example

import pandas as pd

# Calculate descriptive statistics of the DataFrame
descriptive_stats = df.describe()
print("Descriptive Statistics:")
print(descriptive_stats)

# Calculate the mean of each numerical column
column_means = df.mean()
print("Mean of Columns:")
print(column_means)

# Calculate the median of each numerical column
column_medians = df.median()
print("Median of Columns:")
print(column_medians)

# Calculate the standard deviation of each numerical column
column_std = df.std()
print("Standard Deviation of Columns:")
print(column_std)

# Get the minimum value of each numerical column
column_min = df.min()
print("Minimum Values of Columns:")
print(column_min)

# Get the maximum value of each numerical column
column_max = df.max()
print("Maximum Values of Columns:")
print(column_max)

Descriptive Statistics:
            Age
count   5.00000
mean   33.60000
std     5.85662
min    28.00000
25%    28.00000
50%    35.00000
75%    35.00000
max    42.00000
Mean of Columns:
Age    33.6
dtype: float64
Median of Columns:
Age    35.0
dtype: float64
Standard Deviation of Columns:
Age    5.85662
dtype: float64
Minimum Values of Columns:
Name       Emma
Age          28
City    Chicago
dtype: object
Maximum Values of Columns:
Name     Oliver
Age          42
City    Seattle
dtype: object

C:\Users\Pame\AppData\Local\Temp\ipykernel_7944\1781865728.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  column_means = df.mean()
C:\Users\Pame\AppData\Local\Temp\ipykernel_7944\1781865728.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  column_medians = df.median()
C:\Users\Pame\AppData\Local\Temp\ipykernel_7944\1781865728.py:21: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  column_std = df.std()

### 3.2 Value counts

Here's the necessary information for using value counts in Pandas:

1. Value Counts Function:

value_counts(): This function returns a Series containing counts of unique values in a column. By default, it sorts the counts in descending order.

In [18]:
# Example

"""

import pandas as pd

# Calculate value counts for a column
value_counts = df['Column'].value_counts()
print("Value Counts:")
print(value_counts)

"""

'\n\nimport pandas as pd\n\n# Calculate value counts for a column\nvalue_counts = df[\'Column\'].value_counts()\nprint("Value Counts:")\nprint(value_counts)\n\n'

#### 3.2.1 Operations

Here's the necessary information for performing operations in Pandas:

1. Applying Functions to Columns or Rows:

apply(): This function applies a function along either the rows or columns of a DataFrame. You can pass a built-in or custom function to perform a specific operation on each element or group of elements.

applymap(): This method applies a function to every element of a DataFrame. It is useful for element-wise operations.

2. Arithmetic Operations:

Arithmetic operators (+, -, *, /, **, etc.): These operators allow you to perform element-wise arithmetic operations on columns or rows of a DataFrame. The operations can be between columns or between columns and scalar values.

add(), sub(), mul(), div(): These methods perform element-wise addition, subtraction, multiplication, and division between two DataFrames or between a DataFrame and a scalar.

3. Groupby Operations:

groupby(): This function is used to group data based on one or more columns. It allows you to apply aggregate functions such as sum(), mean(), count(), etc. to each group.
Sorting Data:

sort_values(): This function sorts the rows of a DataFrame based on one or more columns.
sort_index(): This function sorts the rows of a DataFrame based on the row index.

4. Merging Data:

merge(): This function combines two or more DataFrames based on common columns or indices. It supports different types of joins, such as inner join, outer join, left join, and right join.

In [21]:
# Examples

"""
import pandas as pd

# Apply a function to a column
df['Column'] = df['Column'].apply(lambda x: x + 1)

# Apply a function to every element of a DataFrame
df = df.applymap(lambda x: x.lower())

# Perform arithmetic operations between columns
df['Result'] = df['Column1'] + df['Column2']

# Perform arithmetic operations between a column and a scalar
df['Result'] = df['Column'] * 2

# Group data and apply aggregate functions
grouped_data = df.groupby('GroupColumn')['NumericColumn'].sum()

# Sort the DataFrame by a column
df = df.sort_values(by='Column')

# Sort the DataFrame by the row index
df = df.sort_index()

# Merge two DataFrames based on a common column
merged_df = pd.merge(df1, df2, on='CommonColumn', how='inner')
"""

"\nimport pandas as pd\n\n# Apply a function to a column\ndf['Column'] = df['Column'].apply(lambda x: x + 1)\n\n# Apply a function to every element of a DataFrame\ndf = df.applymap(lambda x: x.lower())\n\n# Perform arithmetic operations between columns\ndf['Result'] = df['Column1'] + df['Column2']\n\n# Perform arithmetic operations between a column and a scalar\ndf['Result'] = df['Column'] * 2\n\n# Group data and apply aggregate functions\ngrouped_data = df.groupby('GroupColumn')['NumericColumn'].sum()\n\n# Sort the DataFrame by a column\ndf = df.sort_values(by='Column')\n\n# Sort the DataFrame by the row index\ndf = df.sort_index()\n\n# Merge two DataFrames based on a common column\nmerged_df = pd.merge(df1, df2, on='CommonColumn', how='inner')\n"

### 3.3 Data profiling

Here are some key components and functions in Pandas that can help you perform data profiling:

1. Data Shape and Structure:

shape: This attribute provides the dimensions of your DataFrame, i.e., the number of rows and columns.
dtypes: This attribute displays the data types of each column in your DataFrame.

2. Data Summary:

info(): This function provides a concise summary of your DataFrame, including the number of non-null values and the data types of each column.
head(): This function displays the first few rows of your DataFrame, giving you a glimpse of the data.

3. Missing Values:

isnull(): This function checks for missing or null values in your DataFrame and returns a boolean mask.
sum(): This function can be used with isnull() to count the number of missing values in each column.
fillna(): This function allows you to fill missing values with a specified value or strategy.

4. Unique Values:

nunique(): This function calculates the number of unique values in each column of your DataFrame.
unique(): This function returns an array of unique values in a specific column.

5. Data Distribution:

hist(): This function can be used to visualize the distribution of numerical data through histograms.
value_counts(): This function, as discussed earlier, provides the count of unique values in a column.

6. Correlation Analysis:

corr(): This function calculates the pairwise correlation between columns in your DataFrame, allowing you to identify relationships between variables.

7. Summary Statistics:

describe(): This function provides a comprehensive summary of your DataFrame's numeric columns, including count, mean, standard deviation, quartiles, and more.

In [19]:
#Example

"""

import pandas as pd

# Check the shape of the DataFrame
print("Data Shape:")
print(df.shape)

# Display data types of columns
print("Data Types:")
print(df.dtypes)

# Display a concise summary of the DataFrame
print("Data Summary:")
print(df.info())

# Display the first few rows of the DataFrame
print("First Few Rows:")
print(df.head())

# Check for missing values
print("Missing Values:")
print(df.isnull().sum())

# Count unique values in a column
print("Unique Values:")
print(df['Column'].nunique())

# Calculate summary statistics
print("Summary Statistics:")
print(df.describe())

# Visualize the distribution of a column
df['Column'].hist()
 
"""

'\n\nimport pandas as pd\n\n# Check the shape of the DataFrame\nprint("Data Shape:")\nprint(df.shape)\n\n# Display data types of columns\nprint("Data Types:")\nprint(df.dtypes)\n\n# Display a concise summary of the DataFrame\nprint("Data Summary:")\nprint(df.info())\n\n# Display the first few rows of the DataFrame\nprint("First Few Rows:")\nprint(df.head())\n\n# Check for missing values\nprint("Missing Values:")\nprint(df.isnull().sum())\n\n# Count unique values in a column\nprint("Unique Values:")\nprint(df[\'Column\'].nunique())\n\n# Calculate summary statistics\nprint("Summary Statistics:")\nprint(df.describe())\n\n# Visualize the distribution of a column\ndf[\'Column\'].hist()\n \n'

## Project 1: Data Cleaning and Exploration

Instructions 

Choose a dataset of your choice (e.g., CSV file) and perform data cleaning tasks such as handling missing values, removing duplicates, and transforming data types. Explore the dataset using Pandas functions to gain insights.